.recent-comments__block {
	margin-bottom: 10px;
}

.recent-comments__block {

	color: #717171;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 15px;
//	font-weight: 700;
	margin-bottom: 15px;
}

.recent-comments__title {
	color: #2e2e2e;
}

.recent-comments__content {
	text-decoration: none;
		color: #717171;
		
}