.tags__block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.tags__item {
	display: block;
	margin-right: 5px;
	margin-bottom: 5px;

	padding: 7px;
	background-color: #e8e8e8;


	color: #717171;
	font-family: Verdana;
	font-size: 11px;
	text-decoration: none;
	
	transition: 0.8s;
	
	&:hover {
		background-color: #717171;
		color: #fff;
	}

}
