.twitter__block {
	margin-bottom: 15px;
	
color: #2e2e2e;
font-family: Georgia;
font-size: 11px;
font-style: italic;
line-height: 15px;


}

.twitter__text {
	color: #717171;
}

.twitter__link {
	text-decoration: none;
	color: #2e2e2e;
	display: block;
}