@font-face {
    font-family: 'kaff';
    src: url('../fonts/yanonekaffeesatz-regular.woff2') format('woff2'),
         url('../fonts/yanonekaffeesatz-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}