section.aside-item.archives
	.title-aside-block 
		.title-aside archives
		
	a.archives__item(href="#") October 2010
	a.archives__item(href="#") September 2010
	a.archives__item(href="#") August 2010
	a.archives__item(href="#") July 2010
	a.archives__item(href="#") June 2010
	a.archives__item(href="#") May 2010
	a.archives__item(href="#") April 2010
	a.archives__item(href="#") March 2010