section.aside-item.featured-posts
	.title-aside-block 
		.title-aside featured Posts
		
	.block-aside
		+image('featured-posts/featured-posts-1.jpg', 'featured-posts photo', 'img-aside')
		.subblock-aside
			.subtitle-aside Curabitur bibendum tortor in diam viverra
			.content-aside 9 Comments
			
	.block-aside
		+image('featured-posts/featured-posts-2.jpg', 'featured-posts photo', 'img-aside')
		.subblock-aside
			.subtitle-aside Pellentesque phare tramy mollis tortor volutpat
			.content-aside 13 Comments
			
	.block-aside
		+image('featured-posts/featured-posts-3.jpg', 'featured-posts photo', 'img-aside')
		.subblock-aside
			.subtitle-aside Cras ac felis eget quampos consectetur sagittis
			.content-aside 21 Comments
			
	.block-aside
		+image('featured-posts/featured-posts-3.jpg', 'featured-posts photo', 'img-aside')
		.subblock-aside
			.subtitle-aside Sed imperdiet lorem in ipsum ultrices
			.content-aside 15 Comments