section.aside-item.flickr
	.title-aside-block 
		.title-aside flickr
		
	.flickr__block
		.flickr__img-block
		.flickr__img-block
		.flickr__img-block
		.flickr__img-block
		.flickr__img-block
		.flickr__img-block