header.header
	.container.container--header
		nav.nav
			ul.nav__list
				li.nav__item
					a(href="#").nav__link Home
					
				li.nav__item
					a(href="#").nav__link About
					
				li.nav__item
					a(href="#").nav__link Terms of Use
					
				li.nav__item
					a(href="#").nav__link Contact
					
		ul.socials
			li.socials__item
				a(href="#").socials__link.socials__link--facebook
				
			li.socials__item
				a(href="#").socials__link.socials__link--delicious
				
			li.socials__item
				a(href="#").socials__link.socials__link--flickr
				
			li.socials__item
				a(href="#").socials__link.socials__link--friendfeed
				
			li.socials__item
				a(href="#").socials__link.socials__link--tumblr
				
			li.socials__item
				a(href="#").socials__link.socials__link--twitter