section.main-block
	.main-block__title-block
		h2.main-block__title Class aptent tacitı sociosu ad litora 
		
	.main-block__title-block
		.main-block__link-block
			.main-block__link 21 Oct 2010
			.main-block__link by admin
			.main-block__link 12 Comments
			.main-block__link Permalink
			
	img.main-block__img(alt="main-img" src="img/maincontent/main-img.jpg")
		
	.main-block__content Nulla nec ante sit amet felis gravida tincidunt et non mi. Ut accumsan hep sollicitudin neque sit amet ullamcorper. Quisque viverra sem id quamir imperdiet et dictum metus scelerisque. Fusce pellentesque vulputate nisi semper accumsan. Proin leo nibh, scelerisque quis vehicula intep kemry, pellentesque et nunc. Phasellus non eros sit amet nunc vulputate pulvinar. Ut id enim mi, eu semper purus. Ut tristique eros consectetur antemor vulputate ac cursus eros condimentum. Morbi sed neque nisl. Duis venena libero ac velit sagittis tristique. Sed euismod consectetur tincidunt. Vivamus malesuada sem id nulla condimentum pretium. Aenean hendrerit bibendum mi nec tristique. Nulla vehicula bibendum quam, ac accumsan leo consectetur ac. Aliquam viverra quam eu erat rhoncus adipiscing. 
	