.menu
	nav.nav
		ul.nav__list
			li.nav__item
				a(href="#").nav__link Home

			li.nav__item
				a(href="#").nav__link Graphic Design

			li.nav__item
				a(href="#").nav__link Tutorials

			li.nav__item
				a(href="#").nav__link Freebies

			li.nav__item
				a(href="#").nav__link PSD Templates

			li.nav__item
				a(href="#").nav__link Photography