section.promo
	.promo__main
		img(alt="promo-photo" src="img/promo/promo-big.jpg").promo__big-img
		.promo__main-descr
			h2.promo__main-title Curabitur bibendum tortor in diam viverra
			.promo__main-content Curabitur adipiscing lacus quis diam tincidunt accumsan. Suspendisse in est orci. Nulla facilisi. Morbi lacus urna..
				a(href="#").promo__main-link (Read More)
	.promo__aside
		.promo__aside-block
			img.promo__aside-img(alt="promo-aside" src="img/promo/promo-first.jpg")
			.promo__aside-descr Curabitur bibendum tortor in diam viverra
			
		.promo__aside-block
			img.promo__aside-img(alt="promo-aside" src="img/promo/promo-second.jpg")
			.promo__aside-descr Pellentesque phare tramy mollis tortor volutpat
			
		.promo__aside-block
			img.promo__aside-img(alt="promo-aside" src="img/promo/promo-third.jpg")
			.promo__aside-descr Cras ac felis eget quampos consectetur sagittis
			
		.promo__aside-block
			img.promo__aside-img(alt="promo-aside" src="img/promo/promo-fourth.jpg")
			.promo__aside-descr Sed imperdiet lorem in ipsum ultrices