section.aside-item.recent-posts
	.title-aside-block 
		.title-aside recent Posts
	.block-aside
		+image('recent-posts/recent-posts-1.jpg', 'recent-post photo', 'img-aside')
		.subblock-aside
			.subtitle-aside Curabitur bibendum tortor in diam viverra
			.content-aside 9 Comments
			
	.block-aside
		+image('recent-posts/recent-posts-2.jpg', 'recent-post photo', 'img-aside')
		.subblock-aside
			.subtitle-aside Pellentesque phare tramy mollis tortor volutpat
			.content-aside 13 Comments
			
	.block-aside
		+image('recent-posts/recent-posts-3.jpg', 'recent-post photo', 'img-aside')
		.subblock-aside
			.subtitle-aside Cras ac felis eget quampos consectetur sagittis
			.content-aside 21 Comments
			
	.block-aside
		+image('recent-posts/recent-posts-4.jpg', 'recent-post photo', 'img-aside')
		.subblock-aside
			.subtitle-aside Sed imperdiet lorem in ipsum ultrices
			.content-aside 15 Comments