section.aside-item.recent-comments
	.title-aside-block 
		.title-aside Recent Comments
	.recent-comments__block
		span.recent-comments__title Violet:
		a.recent-comments__content(href="#") Duis turpis risus, blanditut rhoncus iaculis, vulputate... »
			
	.recent-comments__block
		span.recent-comments__title  Aaron:
		a.recent-comments__content(href="#") Vestibulum ante ipsumor primis in faucibus orci luctus... »
		
	.recent-comments__block
		span.recent-comments__title Eric:
		a.recent-comments__content(href="#")  Cras lorem arcu, euismod in pulvinar nec, luctus in purus... »
		
	.recent-comments__block
		span.recent-comments__title Julia:
		a.recent-comments__content(href="#") Nunc vel nunc lectus, vitae dui odio cursus mauris... »