section.aside-item.tags
	.title-aside-block 
		.title-aside tags
		
	.tags__block
	
		a.tags__item(href="") Photography
		a.tags__item(href="") Web Design
		a.tags__item(href="") Drawings
		a.tags__item(href="") Coding
		a.tags__item(href="") Vector
		a.tags__item(href="") Manipulation
		a.tags__item(href="") Textures
		a.tags__item(href="") Print
		a.tags__item(href="") Animation
		a.tags__item(href="") Digital Art
		a.tags__item(href="") Black & White
		a.tags__item(href="") Graphic Design