section.aside-item.twitter
	.title-aside-block 
		.title-aside twitter
		
	.twitter__block
		span.twitter__subtitle  #psd #newsletter
		span.twitter__text | Download "Locus Newsletter" layout 1 PSD here: 
		a.twitter__link(href="#") http://is.gd/gcrc2  - about 3 hours ago
		
	.twitter__block
		span.twitter__subtitle   #pattern #notepad
		span.twitter__text | Download 9 notepad patterns here: 

		a.twitter__link(href="#") http://is.gd/gcr8s about 3 hours ago
		
	.twitter__block
		a.twitter__link(href="#")  @ elemisdesign